/*
font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif;
*/

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  max-width: 1400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/standing-boardroom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 1.5;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  padding-top: 20px;
  color: yellow;
}

header h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
}

header a {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: yellow;
  color: black;
  text-decoration: none;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-weight: 500;
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 14px;
  }

  header a {
    font-weight: 500;
    font-size: 12px;
    padding: 12px 24px;
    margin-top: 32px;
  }
}
